@import "tailwindcss";
@plugin "flowbite/plugin";

@custom-variant dark (&:where(.dark, .dark *));

/* COLOR PALLETE */
@theme {
  --color-primary: oklch(72.3% 0.219 149.579);
  --color-dark:#09080d;
  --color-light:#f0f0f0;
  --color-textdark: #dfe0fe;
  --color-bglight : #f0f2f1;
  --color-bgdark : #0a090e;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
      font-family: "Montserrat", sans-serif ;
}

/* scroll bar begin */
body::-webkit-scrollbar {
  width: 1.5px;
}
body::-webkit-scrollbar-track {
  background: #e8e8e8;
}
body::-webkit-scrollbar-thumb {
  background-color: var(--color-dark);
}
.dark body::-webkit-scrollbar-track {
  background: #252525;
}

.dark body::-webkit-scrollbar-thumb {
  background-color: #64748b; 
}

/* scroll bar end */

/* button and bullet games section */
.swiper-button-next,
.swiper-button-prev {
  color: black !important;
}
.swiper-pagination-bullet-active {
  background: black !important;
}

/* dark mode */
.dark .swiper-button-next,
.dark .swiper-button-prev {
  color: white !important;
}
.dark .swiper-pagination-bullet-active {
  background: white !important;
}
/* button and bullet games section */